version: 0.9.0.{build}

install:
  - ps: wget https://github.com/premake/premake-core/releases/download/v5.0.0.alpha4/premake-5.0.0.alpha4-windows.zip -OutFile premake5.zip
  - 7z x premake5.zip
  - del premake5.zip

build_script:
  - premake5 vs2013
  - msbuild build/nanovg-nanort.sln
